.header
  width: 100%
  padding: 15px 0
  display: inline-grid
  grid-template-columns: 1fr 1fr 1fr
  background-color: #ee6e73
  border-bottom: #9149495e solid 3px
  > div:not(.toggle-menu)
    align-self: center
    justify-self: center

// logo
.logo a
  display: inline-block
  &:after
    content: 'Koza Парад'
    font-size: 2em
  img
    width: 70px
    vertical-align: middle

// toggle menu icon
.toggle-menu
  display: none
  font-size: 2rem
  color: white
  cursor: pointer

@media (max-width: 1024px)
  .header
    grid-template-columns: 50% 50%
    > div:not(.toggle-menu)
      justify-self: left
      width: 100%
      &.logo
        grid-column-start: 1
        grid-column-end: 2

  .toggle-menu
    display: block
    grid-column-start: 2
    grid-column-end: 3
    justify-self: right
    align-self: center
    margin-right: 15px