.header
  position: relative
  width: 100%
  padding: 15px 0
  display: inline-grid
  grid-template-columns: 1fr 1fr 1fr
  background-color: #ee6e73
  border-bottom: #9149495e solid 3px
  z-index: 2
  > div:not(.toggle-menu)
    align-self: center
    justify-self: center


@media (max-width: 1024px)
  .header
    grid-template-columns: 50% 50%
    > div:not(.toggle-menu)
      justify-self: left
      width: 100%